In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Import Libraries
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
#Load the data
dataZoo=pd.read_csv("zoo.csv")

In [4]:
#Display first 5 rows of the dataset
dataZoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [5]:
#Display the numbers of rows & columns
dataZoo.shape

(100, 18)

In [6]:
#Split the dataset into two sets as x and y using iloc method
x=dataZoo.iloc[:,1:17]

In [7]:
x

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1
96,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0
97,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
98,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
99,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0

In [8]:
y=dataZoo.iloc[:,17]

In [9]:
y

0     1
1     1
2     4
3     1
4     1
     ..
95    1
96    6
97    1
98    7
99    2
Name: class_type, Length: 100, dtype: int64

In [10]:
#Split the dataset as training set and testing set. Training set 75% and Testing set 25%
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [11]:
x_train.shape

(75, 16)

In [12]:
x_test.shape

(25, 16)

In [13]:
y_train.shape

(75,)

In [14]:
y_test.shape

(25,)

In [15]:
#Building the classifier
Zooclassifier = DecisionTreeClassifier(random_state=0)

In [16]:
Zooclassifier

DecisionTreeClassifier(random_state=0)

In [17]:
#Train the classifier using the training data
Zooclassifier.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

In [18]:
#Check the accuracy
Zooclassifier.score(x_test,y_test)

0.92

In [20]:
#Making prediction
Zooclassifier.predict(x_test[10:15])

array([7, 2, 1, 1, 2], dtype=int64)

In [21]:
y_test[10:15]

80    7
70    2
19    1
44    1
58    2
Name: class_type, dtype: int64